# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks
*.apk

# IDE
.idea/
*.iml
.vscode/
